<%= render 'shared/errors', obj: @poll%>
<%= form_for @poll do |f| %>
  <div class="form-group row form-box">
    <div class="col-sm-2 col-form-label">
    <%= f.label :title %>
    </div>
    <div class="col-sm-6">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Options</div>
    <div id='items' class="panel-body"  >
      <%= f.fields_for :items do |options_form| %>
        <%= render 'item_fields', f: options_form %>
      <% end %>

      <div class="links" id="add-item">
        <%= link_to_add_association 'add option', f, :items %>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-8">
      <%= f.submit 'create', class: "btn btn-secondary " %>
    </div>
  </div>
<% end %>